<! –– Responsive Profile By Panshak Solomon ––> 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Profile</title>
        <link rel="stylesheet" href="css/profile/profile.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="container-head">
                <!-- <div class="menu">
                <p style="width: fit-content;">___ <br>___<br>___</p>
                </div> -->
            </div>
            <div class="container-body">
                    <div class="profile-picture"> 
                        <img src="https://i.imgur.com/LhjDdJN.jpg">
                    </div>
                <div class="name">
                    <p>Kunle Coker</p>
                </div>
                <div class="location">
                    <p>Jos, Nigeria</p>
                </div>
                <div class="bio">
                    <p>Jos-based UX/UI Designer working on all things graphics</p>
                </div>
                <div class="stats">
                    <div class="followers">
                        <p>Followers</p>
                        <h1>79K</h1>
                    </div>
                    <div class="following">
                        <p>Following</p>
                        <h1>169</h1>
                    </div>
                    <div class="topics">
                        <p>topics</p>
                        <h1>182</h1>
                    </div>
                </div>
                <div class="buttons">
                    <button class="message-me">Message</button>
                    <button class="follow-me">Follow</button>
                </div>
        </div>
    
    </body>
</html>