<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Log in</title>

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="css/all.css" />

		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
			integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
			crossorigin="anonymous"
		></script>

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-storage.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>

		<script src="js/firebase_config.js"></script>

		<style>
			.post_img {
				margin: 0px auto;
			}
		</style>
	</head>
	<body>
		<div style="height: fit-content; overflow: hidden; padding: 20px;">
			<h3 class="masthead-brand">Zilch</h3>
			<nav class="nav nav-masthead justify-content-center">
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="/signin">Sign in</a>
				<a class="nav-link active" href="/login">Log in</a>
			</nav>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="col-sm-auto m-auto">
						<div
							class="card card-body"
							style="background-color: rgb(155, 155, 155);"
						>
							<h1
								class="text-center mb-3"
								style="color: rgb(20, 20, 20);"
							>
								<i class="fas fa-sign-in-alt"></i>Upload
							</h1>
							<form action="/add_post" method="POST">
								<div class="form-group">
									<div class="input-group">
										<div class="custom-file">
											<input
												type="file"
												class="custom-file-input"
												id="inputGroupFile02"
											/>
											<label
												class="custom-file-label"
												for="inputGroupFile02"
												aria-describeby="inputGroupFileAddon02"
												>Choose file</label
											>
										</div>
									</div>
									<div class="form-group" style="margin-top: 10px;">
										<label for="caption">CAPTION</label>
										<input
											type="text"
											class="form-control"
											id="caption"
											name="caption"
											aria-describedby="emailHelp"
											placeholder="Caption"
										/>
									</div>
								</div>
								<input
									type="button"
									value="Upload"
									class="btn btn-dark btn-block"
									id="upload"
								/>
								<input
									type="text"
									name="link"
									id="link"
									hidden
								/>
								<input type="submit" id="submit" hidden />
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6" style="margin: 20px auto;">
					<img
						id="post_img"
						class="img-fluid center-block"
						alt="Responsive image"
						src="https://images.unsplash.com/photo-1593767357516-37ccf1bb02ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
					/>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>

		<script>
			const username = <%- JSON.stringify(username) %>;
			console.log(username)
		</script>

		<script>
			function makeid(length) {
				var result = "";
				var characters =
					"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
				var charactersLength = characters.length;
				for (var i = 0; i < length; i++) {
					result += characters.charAt(
						Math.floor(Math.random() * charactersLength)
					);
				}
				return result;
			}

			// console.log(makeid(5));
			var ImgUrl, ImageName;
			var files = [];
			var reader;

			//Selection Process
			var local = document.getElementById("inputGroupFile02");
			local.onchange = (e) => {
				files = e.target.files;
				reader = new FileReader();
				reader.onload = () => {
					document.getElementById("post_img").src = reader.result;
				};
				reader.readAsDataURL(files[0]);
			};

			//Upload in Firebase
			document.getElementById("upload").onclick = () => {
				ImageName = username + makeid(8);
				var uploadTask = firebase
					.storage()
					.ref("Images/" + username + "/" + ImageName)
					.put(files[0]);
				uploadTask.on(
					"state_changed",
					(snapshot) => {
						var progress =
							(snapshot.bytesTransferred / snapshot.totalBytes) *
							100;
						console.log(progress);
					},
					(error) => {
						alert("error occured try again");
					},
					() => {
						uploadTask.snapshot.ref.getDownloadURL().then((url) => {
							ImgUrl = url;
							document.getElementById("link").value = ImgUrl;
							console.log(ImgUrl);
							document.getElementById("submit").click();
						});
					}
				);
			};
		</script>
	</body>
</html>
